{% extends 'core/base.html' %}

{% block content %}
<h2>Listado de libros</h2>
<table>
    <tr>
        <th>Título</th>
        <th>Stock</th>
        <th>Detalle</th>
        {%if user.role == 'admin'%} <th>Acciones</th> {%endif%}
    </tr>


    {% for book in books %}
    <tr>
        <td>{{book.title}}</td>
        <td>{{book.stock}}</td>
        <td><a href="{% url 'libro_detail' book.pk %}">Ver</a></td>
        {%if user.role == 'admin'%}
        <td><a href="{% url 'libro_editar' book.pk %}">Actualizar</a></td>
        {%endif%}
    </tr>
    {% endfor %}



</table>
{% endblock %}